/**** BUTTONS ****/

.btn {
    display: inline-block;
    padding: 1.2rem 3.4rem;
    border-radius: 0.4rem;
    text-decoration: none;   
    overflow: hidden;
    position: relative;    
    z-index: 0;    
}
.btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    font-weight: 400;   
    font-size: 1.6rem;
    line-height: 1.9rem;

    position: relative;
    z-index: 0;
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;   
}

.btn.purple:hover::after,
.btn.purple::before{
    background:var(--gradient-purple); 
}

.btn.pink:hover::after,
.btn.pink::before{
    background:var(--gradient-pink); 
}

.btn::before {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.btn::after {
    content: '';
    background: var(--dark);
    top: 0.2rem;
    bottom: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    position: absolute;
    border-radius: 0.4rem;
    z-index: -1; 
}

