/**** EXPERIENCES ****/

.experience{
    /* width: 90%;
    max-width: 1200px; */
    height: auto;    
    background: var(--dark);      
}

.experience .container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 12rem;
}

/* .experience .container{
    display: grid;
    grid-template-columns: repeat(auto-preenchimento, minmax(500px, 1fr));
    grid-gap: 5rem;    
} */



.experience .list{    
    flex-direction: column;
}

.experience .list h2{    
    padding: 1.8rem 0;    
}

.experience ul{
    display: block;
    align-items: center;
    justify-content: center; 
    
}

.experience ul li{ 
    padding: 1.8rem 0;   
}

.experience ul li a{
    width: 90%;
    max-width: 1200px;
    font-weight: 300;
    padding: 1.8rem ;
    border-left: 2px solid var(--dark-200); 
}
 
.experience ul li a:hover{
    background: var(--dark-200);
    color: var(--white);
    font-weight: 500;
    border-left: 2px solid var(--blue);
}

.experience .description{    
    width: 90%;
    height: 100%;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center;  */
} 

.experience .title{    
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between; 
    gap:1rem;   
}
.experience .text{    
    width: 90%;
    max-width: 1400px;     
}

.experience .title h2{
    text-transform: none;
}

.experience  span{    
    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;    

}

.experience h3{    
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--blue);
    padding: 2.6rem 0;
}

