footer{
    background: var(--dark);
}

footer .container{    
    height: 10.9rem;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--dark-200);    
}

footer .container span{
    display: flex;    
    justify-content: space-between;
    gap: 1rem;
}