.projects {
    background: var(--dark-200);    
    height: auto;       
}


.projects .cards{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(53rem, auto));   
      
}

.projects .card{
    padding: 6rem 1rem;
    display: flex; 
    flex-direction: column; 
    width: 90%;     
    margin: auto; 
    gap: 3rem 0;     
   
}

.projects .img{
    width: 100%;
    height: 100%;        
    border-left: 4px solid var(--blue);
}

.projects .img img{
    max-width: 53rem;
    max-height: 20rem;    
}

.projects p{
    width: 90%;
}

.projects .card h4{
    color: var(--blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-top: 0;
}