/**** ABOUT ****/
section.about{    
    width: 100%; 
    height: 56.5rem;  
    background: var(--dark-200);
}

section.about .container.grid{    
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;   
     
}

section.about .foto{
    width: 36.7rem;
    height: 36.7rem;
    display: flex;
    align-items: center;
    justify-content: center;   
    background: var(--dark);
    border-left: 2px solid var(--blue);

}


section.about .about.content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;   
    flex-direction: column; 
    padding-left: 16rem;
    
}
section.about .text h3{
    padding-top: 3.2rem;
    padding-bottom: 2rem;   
    font-size: 2rem;
    line-height: 2.4rem;
}

section.about .social{
    display: flex;   
    
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 3.2rem;
    
}
section.about .buttons{
    display: flex;    
    gap: 4rem;   
}