.container{    
    width: 90%;
    height: auto;
    max-width: 1400px;
    margin: auto;
    padding: 10rem 0;    
}

/* .vortex{
    cursor: pointer;    
}
 */

.vortex linearGradient stop:nth-child(1){
     animation: color 5s linear infinite;
}

@keyframes color {
    0%{
        stop-color: #FF1CF7;;
    }
    25%{
        stop-color: #00F0FF;
    }
    50%{
        stop-color: #00F0FF;
    }
    100%{
        stop-color: #FF1CF7;
    }
}

.vortex linearGradient stop:nth-child(2){
    animation: twocolor 5s linear infinite;
}

@keyframes twocolor {
    0%{
        stop-color: #00F0FF;
    }
    25%{
        stop-color: #FF1CF7;
    }
    50%{
        stop-color: #FF1CF7;
    }
    100%{
        stop-color: #00F0FF;
    }    
}

/* .vortex path:nth-child(even){
    animation: mover 6s infinite;  
    animation-delay: 1s;
}

@keyframes mover{
    0%{
        transform: rotateZ(1deg);
        transform: rotateX(0deg);         

    }
    50%{
        transform: rotateZ(0deg); 
        transform: rotateX(20deg);       

    }
    100%{
        transform: rotateZ(1deg);
        transform: rotateX(0deg);        
    }
} */

.vortex path:nth-child(even){
    animation: mover 6s infinite;  
    animation-delay: 1s;
}

@keyframes mover{
    0%{
        transform: rotateZ(0deg);
        transform: rotateX(0deg);           

    }
    50%{
        transform: rotateZ(30deg);
        transform: rotateX(40deg);
        transform: rotateY(30deg);
        transform: rotate(-1deg) scaleX(0.99) translateZ(-5px);     

    }
    100%{
        transform: rotateZ(0deg);
        transform: rotateX(0deg);        
    }
}


.vortex path:nth-child(odd){
    animation: oddmover 6s infinite;  
    animation-delay: 1s;
}

  
@keyframes oddmover{
    0%{
        transform: rotateZ(0deg);
        transform: rotateX(0deg);           

    }
    50%{
            /* transform: rotateZ(30deg);
            transform: rotateX(40deg);
            transform: rotateY(30deg); */
        transform: rotate(1deg) scaleX(0.99) translateZ(5px);     

    }
    100%{
        transform: rotateZ(0deg);
        transform: rotateX(0deg);        
    }
}


/* Media queries */

@media (max-width: 920px){
    .experience .container,
    .about .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 8rem;        
    }
    .experience .title{
        flex-direction: column;
    }

    .projects .card p{
        max-width: 20rem;
        word-wrap: break-word;
    }

    .contact .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact .form{
        width: 100%;
    }

    .contact .LogoTriade {        
        padding-bottom: 10rem;
        order: -1;
    }

}

@media (max-width: 730px){
    html{
        font-size: 50%;
    }
}